<table class="table table-bordered">
    <thead>
        <tr>
            <th>Date</th>
            <th>Produit</th>
            <th>Qté ({{ produit.unite }})</th>
            <th>Prix unitaire (KMF)</th>
            <th>Total (KMF)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for appro in approvisionnements %}
            <tr class="appro-{{appro.type}}">
                <td>{{ appro.date }}</td>
                <td> {{ appro.code_variation }} - {{ appro.nom }} {{ appro.prix_vente }} KMF</td>
                <td>{{ appro.qte }} </td>
                <td>{{ appro.prix }}</td>
                <td>{{ appro.total }}</td>
                <td>
                    {% if appro.type == 1 %}
                        ACHAT
                    {% endif %}

                    {% if appro.type == 2 %}
                        VANTE
                    {% endif %}

                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>