{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/plugins/jqGrid/ui.jqgrid.css') }}">
 {% endblock  %}
{% block scripts %}
{{ parent() }}
<script src="{{ asset('js/plugins/jqGrid/jquery.jqGrid.min.js') }}"></script>
<script src="{{ asset('bundles/produit/js/add.js') }}"></script>
{% endblock %}

{% block contenu %}
    <div class="wrapper wrapper-content">
        <div class="row">
        	<div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 >
                            Création produit
                        </h5>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label code">Code</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" required="" id="code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 pull-right">
                                	<div id="qrcode" style="width:100px; height:100px; margin-top:15px;"></div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Nom</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" required="" id="nom">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label unite">Unité</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="unite" required="" id="unite">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label description">Description</label>
                                        <div class="col-sm-10">
                                            <textarea id="description" class="summernote"></textarea>
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label prix_achat">Prix achat</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="prix_achat" required="" id="prix_achat">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label prix_vente">Prix vente</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="prix_vente" required="" id="prix_vente">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                        	<div class="row">
                        		<div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label stock">Stock</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="stock" required="" id="stock">
                                        </div>
                                    </div>
                                </div>
                        	</div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label stock_alerte">Stock d'alerte</label>
                                        <div class="col-sm-10">
                                            <input type="number" class="form-control" name="stock_alerte" required="" id="stock_alerte">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label stock_alerte">Expirer le</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" name="expirer" required="" id="expirer">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label nom">Image</label>
                                        <div class="col-sm-10">
                                            <input type="file" class="form-control" id="image">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-6 align-left">
                                  <img src="" id="produit_image" class="img-thumbnail">
                                </div>
                                
                            </div>


                            <div class="hr-line-dashed"></div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <!-- <div class=""> -->
                                        {# <button class="btn btn-white" type="reset">
                                            <i class="fa fa-times"></i>
                                            Annuler
                                        </button> #}
                                        <button class="btn btn-primary" id="btn-save">
                                            <i class="fa fa-save"></i>
                                            Enregistrer
                                        </button>
                                    <!-- </div> -->
                                </div>
                            </div>
                            <input type="hidden" name="id" id="id" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

